.center {
    font-family: "monospace";
    text-align: center;
}
html { 
overflow: auto;
 }
a {
    color: blue;
}
a:hover {
    color: red;
}
.clickable {
    cursor: pointer;
}
.clickable::selection {
    user-select: none;
}

html:selection {
    user-select: none;
}
div.output {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #000000;
}
