.center {
    font-family: "monospace";
    text-align: center;
}
html { 
overflow: auto;
 }
a {
    color: blue;
}
a:hover {
    color: red;
}
.clickable {
    cursor: pointer;
}
.clickable::selection {
    user-select: none;
}

html:selection {
    user-select: none;
}
div.output {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #000000;
}
button{
    cursor: pointer; /* To change the pointer when we pass the mouse on the button */

    /* The border itself */
    border-width: 1px;
    border-style: solid;
    border-color: #464c54;
    
    /* Grey background color */
    background-color: #dcdad5;
    
    /* Position absolute inside the aroundRealButton span */
    position: absolute;
    user-select: none;
}
button:hover{
    background-color: #eeebe7; /* New background color, lighter grey */
    border-width: 1px;
}
